<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>Famgen</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
<style type="text/css">
	.bs-example{
    	margin: 20px;
    }
</style>


  </head>

  <body>
  <%= render "partials/userinfo" %>
  
  <h1 class="text-center"><img src="/myimages/famgen_logo.png" alt="image" width="75" height="75"/>Navigation Switchboard 
  </h1>
  
  <%= render "partials/navbar" %>
  
  <hr>

  <!--<div id="main-container" class="container-fluid">-->
    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-2">
          <!-- left sidebar content -->
        </div>
    
        <div id="main-content" class="col-xs-8">
            <!--  main content -->
            <h3 class="text-center">Bulletin Board</h3>
            <h4 class="text-center">Bulletin Board content goes here.</h4>

            <div class="row">
              <div id="main-content" class="col-xs-6">
              <h4>I have had a long time interest in family genealogy along with my wife and several other members of our family. This deep-rooted interest stems from our association with the Church of Jesus Christ of Latter-Day Saints, also known as the Mormon Church, which teaches that families are eternal. This "eternal" nature causes us to become more than causually interested in our ancestors and makes us want to discover who they are so we can have baptism and marriage ordinances performed on their behalf by someone with priesthood authority in LDS temples. This then gives our beloved ancestors the opportunity to accept these important ordinances if they choose to do so. So... for many of us doing family research is more than a passtime hobby - it is, instead, an important work!</h4>
              </div>
              <div id="main-content" class="col-xs-6">
              <h4>When my younger sister died I helped go thru several <em>"shoe boxes in the basement"</em> of important and valuable family records (photos, journals, family names, etc.) It then occured to me that I, along with probably many of you other family members have our own <em>"shoeboxes in the basement"</em> of photos and records that are not being shared with others who would have a real interest in them. As I became more involved with organizing my own family records I saw the importance of: 1) Having a means of sharing our <em>"shoeboxes"</em> with other family members, 2) Having a system of collaboration where we can contribute to the completeness and accuracy of the combined family library, and 3) Having a way to preserve these records for future generations. I then decided to construct this website with these basic goals in mind. read <a href="pages/more_switchboard" target="_blank">more...</a></h4>
              </div>
              
            </div>

        </div>
        <div class="row">
        	<div id="sidebar" class="col-xs-2">
          		<!-- right sidebar content -->
          	</div>
        </div>
      </div>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>


