<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">

    <!--<%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 

    %>-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../assets/stylesheets/mystyles.scss" type="text/css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link rel="icon" href="/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- <link href="//fonts.googleapis.com/css?family=Lato:400|Inconsolata" rel="stylesheet" type="text/css"> -->

    <title>Home</title>

  </head>

  <body>
  <%= render "partials/userinfo" %>
  

<div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-1">
        <img src="/myimages/famgen_logo.png" alt="image" width="75" height="75"/>
      </div>
      <div class="col-xs-4">
      <h1 class="text-left">Family Genealogy Home Page <br><small>(Página de Inicio Genealogía de la Familia)</small></h1>
      </div>
      <div class="col-xs-4">
      </div>
    </div>





  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
      <div class = "text-center">
      <%= render "partials/navbar" %>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <!--<div id="main-container" class="container-fluid">-->
    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-2">
          <!-- left sidebar content -->
        </div>
    
        <div id="main-content" class="col-xs-8">
            <!--  main content -->
            <h3 class="text-center">Bulletin Board (Tablón de Anuncios)</h3>
            <!--<h4 class="text-center">Bulletin Board content goes here.</h4>-->
            <!--<article style = " outline: #708090 dotted;">-->
            <article class= "bulletin">
              <p class="text-center">Bulletin Board content goes here.</p>
            </article>

            <div class="row">
              <div id="main-content" class="col-xs-6">
              <h4>I have had a long time interest in family genealogy along with my wife and several other members of our family. This deep-rooted interest stems from our association with the Church of Jesus Christ of Latter-Day Saints, also known as the Mormon Church, which teaches that families are eternal. This "eternal" nature causes us to become more than causually interested in our ancestors and makes us want to discover who they are so we can have baptism and marriage ordinances performed on their behalf by someone with priesthood authority in LDS temples. This then gives our beloved ancestors the opportunity to accept these important ordinances if they choose to do so. So... for many of us doing family research is more than a passtime hobby - it is, instead, an important work!</h4>
              </div>
              <div id="main-content" class="col-xs-6">
              <h4>When my younger sister died I helped go thru several <em>"shoe boxes in the basement"</em> of important and valuable family records (photos, journals, family names, etc.) It then occured to me that I, along with probably many of you other family members have our own <em>"shoeboxes in the basement"</em> of photos and records that are not being shared with others who would have a real interest in them. As I became more involved with organizing my own family records I saw the importance of: 1) Having a means of sharing our <em>"shoeboxes"</em> with other family members, 2) Having a system of collaboration where we can contribute to the completeness and accuracy of the combined family library, and 3) Having a way to preserve these records for future generations. I then decided to construct this website with these basic goals in mind. read <a href="pages/more_switchboard" target="_blank">more...</a></h4>
              </div>
              
            </div>

        </div>
        <div class="row">
        	<div id="sidebar" class="col-xs-2">
          		<!-- right sidebar content -->
          	</div>
        </div>
      </div>
    </div>
    <%= render "partials/footer" %>
  </body>
</html>


